* {
    padding: 0;
    margin: 0;
}

body {
    font-style: normal;
}

.font-1 {
    font-family: 'Poppins', sans-serif;
}

.font-2 {
    font-family: 'Instrument Serif', serif;
}

.section {
    display: flex;
}

.title-courses {
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -2.25px;
    margin: 70px 0 0 0;
    padding: 0;
}

.text-introduce {
    max-width: 519px;
    margin-top: 20px;
    font-weight: 400;
}

.text-introduce p {
    font-size: 19px;
    line-height: 27px;
    font-weight: 400;
}

.list-courses {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -23px;
    margin-bottom: 79px;
}

.list-courses img {
    width: 100%;
}

.course-item {
    flex-basis: calc(25% - 23px);
    margin-right: 23px;
    box-sizing: border-box;
}

.course-item:last-child {
    margin-right: 0;
}


.title-item {
    margin: 18px 0 8px 0;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.4px;
}

.desc-item {
    font-size: 17px;
    line-height: 24px;
}

.price-content {
    display: flex;
    align-items: center;
    margin-top: 6px;
    gap: 6px;
    height: 23px;
    line-height: 23px;
}

.price-old {
    font-kerning: none;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.13px;
    text-decoration: line-through;
    text-transform: uppercase;
}

.price-new {
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}

.period-content {
    margin-top: 20px;
}

.period-item {
    padding: 12px 0 8px 0;
    display: flex;
    gap: 24px;
    border-top: 1px solid #ECEDEC;
}

.period-item:last-child {
    border-bottom: 1px solid #ECEDEC;
}

.title-floral {
    margin-top: 66px;
    text-align: center;
    font-size: 58px;
    line-height: 61px;
    letter-spacing: -0.58px;
    font-weight: 400;
}

.decor-content {
    display: flex;
    margin-top: 76px;
    width: 100%;
    max-width: 1383px;
    margin-bottom: 76px;
}

.decor-content img {
    width: 100%;
}

.content-left {
    margin-top: 54px;
    margin-right: 117px;
    max-width: 560px;
}

.collapse-content {
    margin-top: 42px;
}

.collapsible {
    font-size: 26px;
    line-height: 28px;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
    border-bottom: 1px solid #F3EAE5;
    cursor: pointer;
}

.arrow {
    pointer-events: none;
}


.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    line-height: 23px;
    padding-right: 61px;
}



@media only screen and (min-width: 1917px) {
    .decor-content {
        margin-left: 47px;
    }

    .desc-item {
        padding-right: 51px;
    }
}


@media only screen and (max-width: 991px) {
    .course-item {
        flex-basis: calc(33.33% - 23px);
        margin-bottom: 23px;
    }

    .course-item:nth-child(3n) {
        margin-right: 0;
    }

    .decor-content {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .content-left {
        margin-right: 0px;
        max-width: unset;
        width: 100%;
    }

    .content-right {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .course-item {
        flex-basis: calc(100%);
        margin-right: 0;
    }

    .list-courses {
        margin-right: 0;
    }

    .container {
        padding: 0 15px;
    }
    .content {
        padding-right: 20px;
    }
}







.background-secondary-1 {
    background: #FFFDF4;
}

.background-secondary-2 {
    background: #FFF9F5;
}

.primary-color-1 {
    color: #374639;
}

.primary-color-2 {
    color: #414F42;
}

.secondary-color-1 {
    color: #3F514B;
}

.secondary-color-section2-1 {
    color: #462B20;
}

.secondary-color-section2-2 {
    color: rgba(66, 41, 31, 0.85);
}

.secondary-color-2 {
    color: #4E5C58;
}

.secondary-color-subtitle {
    color: #72776C;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

img {
    height: auto;
    display: block;
}

@media (max-width: 575px) {
    .list-courses {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1917px) {
    .container {
        max-width: 1529px;
    }
}